body{
    margin: 0; 
    padding: 0;
    background: url("../images/back1.jpg") fixed no-repeat; /* ../ is used to move back a directory*/
    /* background: #FC4A1A; */
    background-size: cover;
}

.registration_box{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* to make then move little to centre with 50px*/
    color: white;
}

.registration_box h1{
    display: block; /* to keep the heading as bolck and not inline*/
    float: left;
    font-size: 40px;
    font-weight: lighter;
    padding: 8px 0px ;
    border-bottom: 3px solid white;
    margin-bottom: 30px ;
    border-radius: 15%;
}

.form_input{
    width: 100%;
    overflow: hidden; /*if goes outside the box the hidden */
    font-size: 20px;
    padding: 8px 0px;
    margin: 8px 0px;
    border-bottom: 1px solid white;
    border-radius: 5px;
}
.form_input i{
    width: 30px; /*total width 30% and then text to center*/
    float: left;
    text-align: center;
}

.form_input input{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 80%;
    margin: 1px 10px;
}

.submit_button{
    width: 100%;
    background: none;
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer; /* to change the cursor type to pointer when we go on the submit button*/
}

.submit_button:hover{
    background-color: white;
    color: black;
    transition: 0.5s; /* to keep the time to change hover color in 0.5sec*/
}

.login{
    text-align: center;
    padding: 1px 0px;
    font-size: 18px;
    
}
.login a{
    text-decoration: none;
    color: white;
}

.login a:hover{
    color: lightblue;
}



::placeholder{
    color:white;
    opacity: 0.8;
}